@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[#001931];
}

p {
  @apply text-[#627382];
}

.text-gradient-color {
  @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}

.active {
  @apply font-semibold bg-gradient-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent rounded-none;
  border-bottom: 2px solid #632ee3;
}

.banner-button {
  @apply flex items-center gap-2 py-3 px-5 text-sm font-semibold text-[#001931] border border-[#D2D2D2] rounded-sm transition-colors duration-200 ease-linear hover:cursor-pointer hover:border-transparent hover:text-white hover:bg-[#001931] lg:text-xl;
}

.section-padding {
@apply py-10 md:py-14 lg:py-20
}

